<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>People Directory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="/media/andia-agency/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/media/andia-agency/assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="/media/andia-agency/assets/css/flexslider.css">
        <link rel="stylesheet" href="/media/andia-agency/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/media/andia-agency/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/andia-agency/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/andia-agency/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/andia-agency/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/media/andia-agency/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">People Directory</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li{% if viewname == 'search' or viewname == None %} class="current-page"{% endif %}>
                                        <a href="/"><i class="icon-home"></i><br />Search</a>
                                    </li>
                                    {% if not user.is_authenticated %}
                                    <li{% if viewname == 'login' %} class="current-page"{% endif %}>
                                        <a href="{% url 'dirapp:login' %}?next={{ request.build_absolute_uri|urlencode }}"><i class="icon-home"></i><br />Login</a>
                                    </li>
                                    {% else%}
                                    <li{% if viewname == 'profile' %} class="current-page"{% endif %}>
                                        <a href="{% url 'dirapp:edit_profile' %}?next={{ request.build_absolute_uri|urlencode }}"><i class="icon-home"></i><br />{{ user.username }} - Profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dirapp:logout' %}?next={{ request.build_absolute_uri|urlencode }}"><i class="icon-home"></i><br />Logout</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div id="main">
    {% block main %}{% endblock %}
</div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>
